* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: aliceblue; */
}

.container {
  /* z-index: 3; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: black;
  /* transition: background-color 0.3s ease-in-out; */
}
.container_1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 4vh; */
  background-color: black;
  /* transition: background-color 0.3s ease-in-out; */
}

.navbar_line {
  z-index: 3;
  width: inherit;
  position: fixed;
  /* top: 0vh; */
}

.rightPart {
  /* padding-top: 4vh; */
  position: relative;
  width: 73%;
  background: linear-gradient(to top, rgb(33, 22, 67), rgba(71, 51, 139, 1));
  /* height: 00vh; */
  border-radius: 15px;
}
.rightPart_1 {
  width: 73%;
  background: linear-gradient(to top, rgb(33, 22, 67), rgba(71, 51, 139, 1));
  /* height: 100vh; */
  border-radius: 15px;
}
.leftPart {
  width: 23%;
  /* background-color: rgba(18, 18, 18, 1); */
}
.player_block {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
@media (max-width: 430px) {
  .container {
    /* z-index: 3; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: black;
    /* transition: background-color 0.3s ease-in-out; */
  }
  .container_1 {
    /* z-index: 3; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-top: 20px; */
    background-color: black;
    /* transition: background-color 0.3s ease-in-out; */
  }
  .rightPart {
    /* padding-top: 4vh; */
    position: relative;
    width: 100%;
    background: linear-gradient(to top, rgb(33, 22, 67), rgba(71, 51, 139, 1));
    /* height: 00vh; */
    border-radius: 15px;
  }
  .rightPart_1 {
    width: 100%;
    background: linear-gradient(to top, rgb(33, 22, 67), rgba(71, 51, 139, 1));
    /* height: 100vh; */
    border-radius: 15px;
  }
}
